.sidebar {
  grid-column: 1 /2;
  grid-row: 1 / -1;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--gap-big);
  padding: var(--padding-main);
  border-right: var(--border-standart);
}

@media (width<=768px) {
  .sidebar {
    grid-column: 1 / -1;
    gap: 1rem;
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    padding: var(--padding-secondary);
    border-right: none;
    border-bottom: var(--border-standart);
  }
}
