.nav-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-main);
}

@media (width<=1024px) {
  .caption {
    font-size: var(--medium-font-size);
  }
}

@media (width<=768px) {
  nav {
    grid-column: 2 /3;
    align-content: center;
  }

  .nav-list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .caption {
    text-align: center;
  }
}
