.link {
  display: flex;
  align-items: center;
  gap: var(--gap-medium);
  color: var(--color-rich-black);
  font-size: var(--big-font-size);
  font-weight: var(--font-weight-3);
  transform: translateY(-2px);
  transition: all 0.3s;
}

.link:hover,
.link.active {
  color: var(--color-indian-red);
  transform: translateY(0);
}

.link.active svg {
  color: var(--color-indian-red);
}

.link:hover svg {
  color: var(--color-indian-red);
}

.link:focus-visible {
  outline: 1px solid var(--color-indian-red);
}

svg {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-jungle-green);
}

@media (width<=1024px) {
  .link svg {
    width: 2rem;
    height: 2rem;
  }
}

@media (width<=768px) {
  .link {
    flex-direction: column;
    gap: var(--gap-mini);
  }
}
